/* Color Theme Swatches in Hex */
.WM-dark-aqua--1-hex { color: #2A7E90; }
.WM-dark-aqua--2-hex { color: #216170; }
.WM-dark-aqua--3-hex { color: #113840; }
.WM-dark-aqua--4-hex { color: #0C262A; }
.WM-dark-aqua--5-hex { color: #07171C; }

/* Color Theme Swatches in RGBA */
.WM-dark-aqua--1-rgba { color: rgba(42, 126, 144, 1); }
.WM-dark-aqua--2-rgba { color: rgba(33, 96, 112, 1); }
.WM-dark-aqua--3-rgba { color: rgba(17, 56, 63, 1); }
.WM-dark-aqua--4-rgba { color: rgba(11, 38, 42, 1); }
.WM-dark-aqua--5-rgba { color: rgba(7, 23, 28, 1); }

/* Color Theme Swatches in HSLA */
.WM-dark-aqua--1-hsla { color: hsla(190, 54, 36, 1); }
.WM-dark-aqua--2-hsla { color: hsla(191, 54, 28, 1); }
.WM-dark-aqua--3-hsla { color: hsla(190, 58, 15, 1); }
.WM-dark-aqua--4-hsla { color: hsla(187, 55, 10, 1); }
.WM-dark-aqua--5-hsla { color: hsla(194, 60, 6, 1); }

/* Color Theme Swatches in VAR */
:color {
    --1hex:#2A7E90;
    --2hex:#216170;
    --3hex:#113840;
    --4hex:#0C262A;
    --5hex:#07171C;
}
